@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

:root {
  --jurema-blue: hsl(210deg, 100%, 30%);
  --jurema-white: white;
  --jurema-black: black;
  --jurema-light: rgba(255, 255, 255, 0.30);
  --jurema-font-title: 'Lobster', cursive;
  --jurema-font-body: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: var(--jurema-font-body);
  font-weight: 300;
  color: var(--jurema-black);
}

body {
  background-color: var(--jurema-blue);
}

#main {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--jurema-white);
}

#img-div {
  position: relative;
  order: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
}

#img-div::before {
  content: "";
  position: absolute;
  z-index: -1;
  top:0;
  left: 0;
  right: 0;
  height: 75%;
  background-color: var(--jurema-blue);
}

#image {
  display: block;
  margin: auto;
  height: auto;
  width: 320px;
  max-width: 100%;
}

#img-caption {
  padding: 1.5rem 1rem;
  font-family: var(--jurema-font-body);
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
  color: var(--jurema-white);
}

#title {
  order: 2;
  font-family: var(--jurema-font-title);
  font-size: 3.5rem;
  margin: 1.5rem;
  text-align: center;
}

#tribute-info {
  order: 3;
  width: 100%;
  text-align: center;
}

#timeline {
  padding: 1.5rem 2rem;
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  width: 100%;
  max-width: 1200px;
  margin: auto;

}

#timeline li {
  position: relative;
  padding: 0 1rem 1.5rem;
  width: 50%;
  text-align: left;
  font-size: 1.2rem;
}

#timeline li span {
  display: block;
  color: red;
  font-style: italic;
}

#timeline li:nth-child(even) {
  align-self: flex-start;
  text-align: right;
}

#timeline li:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 1rem;
  bottom: -1rem;
  width: 2px;
  background-color: var(--jurema-blue);
}

#timeline li:not(:last-child):nth-child(odd)::before {
  left: -1px;
}

#timeline li:not(:last-child):nth-child(even)::before {
  right: -1px;
}

#timeline time {
  position: relative;
  display: block;
  font-family: var(--jurema-font-title);
  font-size: 1.5rem;
}

#timeline time::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--jurema-white);
  border: 2px solid var(--jurema-blue);
  border-radius: 50%;
}

#timeline li:nth-child(odd) time::before {
  left: calc(-1.5rem - 2px);
}

#timeline li:nth-child(even) time::before {
  right: calc(-1.5rem - 2px);
}

p {
  padding: 0 2rem 3rem;
  max-width: 1200px;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 300;
}

#tribute-link {
  color: var(--jurema-blue);
  font-weight: 400;
}

#tribute-link:hover {
  text-decoration: none;
}

blockquote {
  display: flex;
  justify-content: center;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  line-height: 150%;
  color: var(--jurema-white);
  background-color: var(--jurema-blue);
}

blockquote p {
  position: relative;
  margin: 0;
  padding: 0;
  --quote-size: 5rem;
  --quote-padding: -2rem;
}

blockquote p::before {
  position: absolute;
  font-size: var(--quote-size);
  color: var(--jurema-light);
  content: "“";
  top: 0;
  left: var(--quote-padding);
}

@media (max-width: 480px) {

  #timeline li {
    width: 100%;
    align-self: flex-start;
    text-align: left;
  }

  #timeline li:nth-child(even) {
    text-align: left;
  }

  #timeline li:not(:last-child):nth-child(even)::before {
    left: -1px;
  }

  #timeline li:nth-child(even) time::before {
    left: calc(-1.5rem - 2px);
  }
}